 <footer>
   <h3>Quick Links</h3>
   <br>
    {% comment %} <ul> {% endcomment %}
    <div style = "list-style-type: none; display : flex; justify-content:space-between; font-size:20px;">
        <li ><a style="text-decoration: none;color: white; margin-left:400px;"href="">Home</a></li>
        <li ><a style="text-decoration: none;color: white;margin-left:20px;"href="aboutus/">About</a></li>
        <li ><a style="text-decoration: none;color: white;margin-left:20px;"href="course/">Course</a></li>
        <li><a style="text-decoration: none;color: white;margin-right:400px;"href="contact/">Contact</a></li>
    </div>
    <br>
    {% comment %} </ul> {% endcomment %}
       <hr>
        <p>&copy; 2024 Django/Data analysis project. All rights reserved.</p>
    </footer>

    <script src="/static/samplejs.js"></script>
</body>
</html>